section {
  background-color: burlywood;
  /* background-size: cover; */
  width: 100vw;
  height: 100vh;
}
.bgr {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ded9d6+0,666666+24,e0e0e0+50,666666+87,a7a9ac+100 */
  background: #ded9d6;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ded9d6 0%, #666666 24%, #e0e0e0 50%, #666666 87%, #a7a9ac 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ded9d6 0%, #666666 24%, #e0e0e0 50%, #666666 87%, #a7a9ac 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ded9d6 0%, #666666 24%, #e0e0e0 50%, #666666 87%, #a7a9ac 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ded9d6', endColorstr='#a7a9ac', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}